/**
 * $module navbar-primary-theme
 * $desc Inverse primary navbar
 * @changed 2024.03.08, 13:30
 */

@import "../shared";

$navbar-inverse-bg: $primaryColor;
$navbar-inverse-border: $primaryDarkColor;
$navbar-inverse-brand-color: #fff;
$navbar-inverse-color: #fff;
$navbar-inverse-link-color: #fff; // fadein(#fff, .2);
$navbar-inverse-link-hover-color: #fff;

$navbar-inverse-toggle-border-color: $primaryDarkColor;
$navbar-inverse-toggle-hover-bg: fadeout($primaryDarkColor, 50%);
$navbar-inverse-toggle-icon-bar-bg: #fff;
$navbar-inverse-link-active-bg: fadeout($primaryDarkColor, 50%);

.navbar-dark.navbar-primary {
  background-color: $navbar-inverse-bg;
  border-color: $navbar-inverse-border;

  .navbar-brand {
    color: $navbar-inverse-brand-color;
    &:hover,
    &:focus {
      // color: $navbar-inverse-brand-hover-color;
      // background-color: $navbar-inverse-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $navbar-inverse-color;
  }

  .navbar-nav {
    > li > a {
      color: $navbar-inverse-link-color;

      &:hover,
      &:focus {
        color: $navbar-inverse-link-hover-color;
        // background-color: $navbar-inverse-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        // color: $navbar-inverse-link-active-color;
        background-color: $navbar-inverse-link-active-bg;
        background-blend-mode: multiply;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        // color: $navbar-inverse-link-disabled-color;
        // background-color: $navbar-inverse-link-disabled-bg;
      }
    }

    // Dropdowns
    > .open > a {
      &,
      &:hover,
      &:focus {
        // color: $navbar-inverse-link-active-color;
        background-color: $navbar-inverse-link-active-bg;
        background-blend-mode: multiply;
      }
    }

    @media (max-width: $screenMdMax) {
      // Dropdowns get custom display
      .open .dropdown-menu {
        > .dropdown-header {
          border-color: $navbar-inverse-border;
        }
        .divider {
          background-color: $navbar-inverse-border;
        }
        > li > a {
          color: $navbar-inverse-link-color;
          &:hover,
          &:focus {
            color: $navbar-inverse-link-hover-color;
            // background-color: $navbar-inverse-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            // color: $navbar-inverse-link-active-color;
            background-color: $navbar-inverse-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            // color: $navbar-inverse-link-disabled-color;
            // background-color: $navbar-inverse-link-disabled-bg;
          }
        }
      }
    }
  }

  // Darken the responsive nav toggle
  .navbar-toggle {
    border-color: $navbar-inverse-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-inverse-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-inverse-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: darken($navbar-inverse-bg, 7%);
  }

  .navbar-link {
    color: $navbar-inverse-link-color;
    &:hover {
      color: $navbar-inverse-link-hover-color;
    }
  }

  .btn-link {
    color: $navbar-inverse-link-color;
    &:hover,
    &:focus {
      color: $navbar-inverse-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        // color: $navbar-inverse-link-disabled-color;
      }
    }
  }

  // Links...
  a.navbar-brand,
  .navbar-nav > li > a {
    // transition: all $transitionTime;
    // opacity: .85;
    color: mix($primaryColor, #fff, 20%);
    &:hover {
      color: #fff;
      // opacity: 1;
      // text-decoration: underline;
    }
  }
}
