/**
 * @module events-list-table.scss
 * @changed 2024.03.21, 16:50
 */

@import '../shared';

.events-list-table {
  /*
  .col-registration
  .col-event
  .col-participants
  .col-opens
  .col-closes
  .col-payment
  .col-options
  .col-paid
  .col-actions
  */

  .col-actions,
  .col-payment,
  .col-registration,
  .col-participants,
  .col-paid {
    text-align: center;
  }

  tbody {
    th,
    td {
      vertical-align: middle;
    }
    .col-event {
      color: $primaryColor;
    }
    .col-actions-wrapper {
      display: flex;
      gap: 4px;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
