/**
 * @module page-header-navbar
 * @changed 2024.02.27, 22:10
 */

@import "../shared";

.page-header-navbar {
  padding: 0;
  // Dark primary navbar with background decor...
  // &.navbar-inverse.navbar-primary, // OLD
  &.navbar-dark.navbar-primary {
    @include themeBackgroundBefore;
  }
  @media (min-width: $navbarCollapse) {
    .navbar-brand {
      flex: 1;
    }
    .collapse.navbar-collapse {
      flex: 0;
    }
  }
}
