@use 'sass:map';
@use 'sass:math';
@use 'sass:color';

@import '../../vendor/bootstrap-5.3.2/scss/functions';
@import '../../vendor/bootstrap-5.3.2/scss/variables';

// Font...

$defaultFontSize: 14px;

$defaultFontFamily: 'Roboto', 'Helvetica', 'Arial', sans-serif;
// $defaultFontFamily: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Breakpoints:...

/* Breakpoints list, according to `static/bootstrap-5.3.2-src/scss/_variables.scss`:
 * - xs: 0
 * - sm: 576px
 * - md: 768px
 * - lg: 992px
 * - xl: 1200px
 * - xxl: 1400px
 */

$screenXsMin: map.get($grid-breakpoints, 'xs'); // 0
$screenSmMin: map.get($grid-breakpoints, 'sm'); // 576px
$screenMdMin: map.get($grid-breakpoints, 'md'); // 768px
$screenLgMin: map.get($grid-breakpoints, 'lg'); // 992px
$screenXlMin: map.get($grid-breakpoints, 'xl'); // 1200px
$screenXxlMin: map.get($grid-breakpoints, 'xxl'); // 1400px

$screenXsMax: map.get($grid-breakpoints, 'sm'); // 576px
$screenSmMax: map.get($grid-breakpoints, 'md'); // 768px
$screenMdMax: map.get($grid-breakpoints, 'lg'); // 992px
$screenLgMax: map.get($grid-breakpoints, 'xl'); // 1200px
$screenXlMax: map.get($grid-breakpoints, 'xxl'); // 1400px

// Collapsable widths...

$collapseWidth: screenMdMin; // $grid-float-breakpoint; // =@screen-sm-min=768px ? =@screen-md-min=992px
$navbarCollapse: $screenLgMin;
$navbarCollapseMax: $screenMdMax;
$midbarCollapse: $collapseWidth;

// Primary color...

$primaryLightColor: #8a9;
$primaryColor: #486;
$primaryDarkColor: #375;
$primaryDarkenColor: color.adjust($primaryDarkColor, $lightness: -10%);
$primaryDarkestColor: #3c5343;

$primaryColorRgb: 68, 136, 102;

// Misc colors...

// UNUSED?
$xdarkBlueColor: #036;
$darkBlueColor: #047;
$mediumBlueColor: #157;
$moodBlueColor: #6ac;
$extralightBlueColor: #def;

$darkGreenColor: #461;
$mediumGreenColor: #9a0;

$defaultTextColor: #333;

$backgroundColor: #fff;

// Navbar...

$navbarMainHeight: 60px;
$navbarPlusHeight: 50px;

// Timeouts...

$momentTime: 150ms;
$transitionTime: 250ms;
$animationTime: 500ms;
$effectTime: 1000ms;
