/**
 * @module events-list.scss
 * @changed 2024.03.18, 00:57
 */

@use 'sass:color';

@import '../shared';

.events-list-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .events-list-item {
    padding: 16px;
    border-radius: 8px;
    &.has-registration {
      background-color: color.change($primaryLightColor, $alpha: 0.25);
    }
    & > * {
      margin-bottom: 0.5rem;
    }
  }
  .events-list-item-title {
    color: $primaryColor;
    font-weight: 400;
  }
  .events-list-item-details {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem 1rem;
  }
}
