/**
 * @module styles.scss
 * @changed 2024.03.30, 17:56
 */
/**
 * @module common.scss
 * @changed 2024.03.08, 12:00
 */
/* Breakpoints list, according to `static/bootstrap-5.3.2-src/scss/_variables.scss`:
 * - xs: 0
 * - sm: 576px
 * - md: 768px
 * - lg: 992px
 * - xl: 1200px
 * - xxl: 1400px
 */
.item-label,
.dimmed-info {
  opacity: 0.5;
}

.primary-color {
  color: #486;
}

.optional-message:empty {
  display: none;
}

.common-actions a:not(.btn) {
  margin-left: 8px;
  margin-right: 8px;
}

/**
 * @module forms.scss
 * @changed 2024.03.08, 12:00
 */
/* Breakpoints list, according to `static/bootstrap-5.3.2-src/scss/_variables.scss`:
 * - xs: 0
 * - sm: 576px
 * - md: 768px
 * - lg: 992px
 * - xl: 1200px
 * - xxl: 1400px
 */
.asteriskField {
  display: inline-block;
  margin-left: 4px;
  opacity: 0.5;
}

/**
 * @module customize.scss
 * @changed 2024.03.11, 13:52
 */
/* Breakpoints list, according to `static/bootstrap-5.3.2-src/scss/_variables.scss`:
 * - xs: 0
 * - sm: 576px
 * - md: 768px
 * - lg: 992px
 * - xl: 1200px
 * - xxl: 1400px
 */
:root {
  --bs-body-font-family: Roboto, Helvetica, Arial, sans-serif;
}

/**
 * @module body
 * @changed 2024.03.08, 13:30
 */
/* Breakpoints list, according to `static/bootstrap-5.3.2-src/scss/_variables.scss`:
 * - xs: 0
 * - sm: 576px
 * - md: 768px
 * - lg: 992px
 * - xl: 1200px
 * - xxl: 1400px
 */
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #fff;
  margin-top: 80px;
}

.data-form .form-group {
  margin-top: 8px;
  margin-bottom: 8px;
}

/**
 * @module bootstrap-theme-fixes
 * @changed 2024.04.02, 16:21
 */
/* Breakpoints list, according to `static/bootstrap-5.3.2-src/scss/_variables.scss`:
 * - xs: 0
 * - sm: 576px
 * - md: 768px
 * - lg: 992px
 * - xl: 1200px
 * - xxl: 1400px
 */
:root {
  --bs-primary-rgb: 68, 136, 102;
  --bs-link-color-rgb: var(--bs-primary-rgb);
  --bs-link-color: #486;
  --bs-link-hover-color: #24533c;
  --bs-link-hover-color-rgb: var(--bs-link-hover-color);
}

.btn-primary {
  --bs-btn-bg: #486;
  --bs-btn-border-color: #486;
  --bs-btn-hover-bg: #375;
  --bs-btn-hover-border-color: #24533c;
  --bs-btn-focus-shadow-rgb: #8a9;
  --bs-btn-active-bg: #24533c;
  --bs-btn-active-border-color: #24533c;
  --bs-btn-disabled-bg: #486;
  --bs-btn-disabled-border-color: #486;
}

.btn-outline-primary {
  --bs-btn-color: #486;
  --bs-btn-border-color: #486;
  --bs-btn-hover-bg: #486;
  --bs-btn-hover-border-color: #486;
  --bs-btn-focus-shadow-rgb: #486;
  --bs-btn-active-bg: #486;
  --bs-btn-active-border-color: #486;
  --bs-btn-disabled-color: #486;
  --bs-btn-disabled-border-color: #486;
}

.btn-outline-primary.btn-link {
  text-decoration: none;
}
.btn-outline-primary.btn-link:active, .btn-outline-primary.btn-link:hover {
  color: #fff;
}

.progress,
.progress-stacked {
  --bs-progress-bar-bg: #486;
}

.list-group {
  --bs-list-group-active-bg: #486;
  --bs-list-group-active-border-color: #486;
}

.btn:focus-visible,
.btn-check:checked + .btn:focus-visible,
:not(.btn-check) + .btn:active:focus-visible,
.btn:first-child:active:focus-visible,
.btn.active:focus-visible,
.btn.show:focus-visible,
.form-check-input:focus,
.form-select:focus,
.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(136, 170, 153, 0.25);
  border-color: #8a9;
}

.form-check-input:checked {
  background-color: #486;
  border-color: #486;
}

.table-primary-header thead th {
  background-color: #486;
  color: #fff;
}
.table-primary-header th,
.table-primary-header td {
  border-right-width: var(--bs-border-width);
}
.table-primary-header th:first-child,
.table-primary-header td:first-child {
  border-left-width: var(--bs-border-width);
}

.btn-icon {
  padding-left: 0;
  padding-right: 0;
  width: 38px;
  height: 38px;
}
.btn-icon, .btn-icon > i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/**
 * @module page-header-navbar.scss
 * @changed 2024.03.08, 12:00
 */
/* Breakpoints list, according to `static/bootstrap-5.3.2-src/scss/_variables.scss`:
 * - xs: 0
 * - sm: 576px
 * - md: 768px
 * - lg: 992px
 * - xl: 1200px
 * - xxl: 1400px
 */
.page-header-navbar {
  padding: 0;
}
.page-header-navbar .main-bar {
  flex: 1;
  display: flex;
  width: 100%;
  align-items: center;
}
.page-header-navbar .navbar-brand {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-header-navbar.navbar-dark.navbar-primary {
  background-color: #375;
  color: #fff;
}
.page-header-navbar.navbar-dark.navbar-primary:before {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.05;
  background-image: url("/static/images/splash/curves-bg/curves-x.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-header-navbar.navbar-dark.navbar-primary .container-fluid {
  z-index: 1;
}
.page-header-navbar .dropdown-menu#user-menu {
  right: 0;
  left: auto;
}
@media (max-width: 400px) {
  .page-header-navbar .site-name {
    display: none;
  }
}
@media (min-width: 992px) {
  .page-header-navbar .navbar-brand {
    flex: 1;
  }
  .page-header-navbar .collapse.navbar-collapse {
    flex: 0;
  }
}
.page-header-navbar .nav-link {
  white-space: nowrap;
  color: #fff;
  transition: all 250ms;
  opacity: 0.85;
}
.page-header-navbar .nav-link:hover {
  opacity: 1;
}

/**
 * @module page-footer-navbar
 * @changed 2024.03.08, 13:30
 */
.page-footer-navbar {
  border-top: 1px solid #eee;
  font-size: 90%;
  margin-bottom: 0;
  margin-top: 20px;
  padding: 0;
}
.page-footer-navbar .container-fluid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
.page-footer-navbar .container-fluid .navbar-right {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 576px) {
  .page-footer-navbar .container-fluid {
    flex-direction: row;
  }
  .page-footer-navbar .container-fluid .navbar-copyright,
  .page-footer-navbar .container-fluid .navbar-middle,
  .page-footer-navbar .container-fluid .navbar-right {
    flex: 1;
  }
  .page-footer-navbar .container-fluid .navbar-right {
    justify-content: flex-end;
  }
}
.page-footer-navbar .navbar-copyright {
  display: flex;
  align-items: center;
}
.page-footer-navbar .navbar-nav {
  margin: 0;
  flex-direction: row;
}
.page-footer-navbar .navbar-nav .nav-link {
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
}

/**
 * @module main-page-splash
 * @changed 2024.03.08, 17:06
 */
/* Breakpoints list, according to `static/bootstrap-5.3.2-src/scss/_variables.scss`:
 * - xs: 0
 * - sm: 576px
 * - md: 768px
 * - lg: 992px
 * - xl: 1200px
 * - xxl: 1400px
 */
.main-page-splash {
  background-color: #375;
  color: #fff;
  position: relative;
}
.main-page-splash:before {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.05;
  background-image: url("/static/images/splash/curves-bg/curves-x.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-page-splash .container-fluid {
  z-index: 1;
}
.main-page-splash > .content {
  position: relative;
}
.main-page-splash > .content h1 {
  font-weight: 400;
}

/**
 * @module membership-splash
 * @changed 2024.03.08, 17:06
 */
/* Breakpoints list, according to `static/bootstrap-5.3.2-src/scss/_variables.scss`:
 * - xs: 0
 * - sm: 576px
 * - md: 768px
 * - lg: 992px
 * - xl: 1200px
 * - xxl: 1400px
 */
.membership-splash {
  overflow: hidden;
  position: relative;
  padding: 12px;
}
.membership-splash.dark {
  background-color: #375;
  color: #fff;
}
.membership-splash.dark:before {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.05;
  background-image: url("/static/images/splash/curves-bg/curves-x.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.membership-splash.dark .container-fluid {
  z-index: 1;
}
.membership-splash.light {
  background-color: rgba(136, 170, 153, 0.1);
}
.membership-splash.light:before {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.05;
  background-image: url("/static/images/splash/curves-bg/curves-x.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.membership-splash.light .container-fluid {
  z-index: 1;
}
.membership-splash > .content {
  position: relative;
}
.membership-splash .content-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}
.membership-splash .content-block {
  padding-top: 1em;
}
.membership-splash .content-block h1 {
  font-weight: 300;
}
@media (min-width: 768px) {
  .membership-splash .content-block {
    font-size: 120%;
  }
  .membership-splash .content-block h1 {
    font-size: 180%;
  }
}
@media (min-width: 992px) {
  .membership-splash .content-block {
    font-size: 140%;
  }
  .membership-splash .content-block h1 {
    font-size: 200%;
  }
}
.membership-splash.membership-splash-default .content-block {
  max-width: 480px;
}
.membership-splash.membership-splash-user .content-block {
  max-width: 720px;
}
.membership-splash .visual-cell {
  background-image: url("/static/images/splash/membership/dds-painting.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 320px;
  align-self: flex-start;
}
@media (max-width: 992px) {
  .membership-splash .visual-cell {
    display: none;
  }
}
.membership-splash a:not(.btn) {
  color: #fff;
  transition: all 250ms;
  text-decoration-thickness: 2px;
  text-decoration-line: underline;
  opacity: 0.8;
}
.membership-splash a:not(.btn):hover {
  opacity: 1;
}

/**
 * @module events-list-table.scss
 * @changed 2024.03.21, 16:50
 */
/* Breakpoints list, according to `static/bootstrap-5.3.2-src/scss/_variables.scss`:
 * - xs: 0
 * - sm: 576px
 * - md: 768px
 * - lg: 992px
 * - xl: 1200px
 * - xxl: 1400px
 */
.events-list-table {
  /*
  .col-registration
  .col-event
  .col-participants
  .col-opens
  .col-closes
  .col-payment
  .col-options
  .col-paid
  .col-actions
  */
}
.events-list-table .col-actions,
.events-list-table .col-payment,
.events-list-table .col-registration,
.events-list-table .col-participants,
.events-list-table .col-paid {
  text-align: center;
}
.events-list-table tbody th,
.events-list-table tbody td {
  vertical-align: middle;
}
.events-list-table tbody .col-event {
  color: #486;
}
.events-list-table tbody .col-actions-wrapper {
  display: flex;
  gap: 4px;
  justify-content: center;
  flex-wrap: wrap;
}

/**
 * @module events-list.scss
 * @changed 2024.03.18, 00:57
 */
/* Breakpoints list, according to `static/bootstrap-5.3.2-src/scss/_variables.scss`:
 * - xs: 0
 * - sm: 576px
 * - md: 768px
 * - lg: 992px
 * - xl: 1200px
 * - xxl: 1400px
 */
.events-list-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.events-list-block .events-list-item {
  padding: 16px;
  border-radius: 8px;
}
.events-list-block .events-list-item.has-registration {
  background-color: rgba(136, 170, 153, 0.25);
}
.events-list-block .events-list-item > * {
  margin-bottom: 0.5rem;
}
.events-list-block .events-list-item-title {
  color: #486;
  font-weight: 400;
}
.events-list-block .events-list-item-details {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1rem 1rem;
}

/**
 * @module membership-choose-list.scss
 * @changed 2024.03.30, 17:55
 */
/* Breakpoints list, according to `static/bootstrap-5.3.2-src/scss/_variables.scss`:
 * - xs: 0
 * - sm: 576px
 * - md: 768px
 * - lg: 992px
 * - xl: 1200px
 * - xxl: 1400px
 */
.membership-choose-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.membership-choose-list-item {
  text-align: left;
}
.membership-choose-list-item > i {
  display: inline-block;
  margin-right: 8px;
}
/*# sourceMappingURL=styles.css.map */
