{# ex: set ft=htmldjango : #}
{% extends "base-regular.html.django" %}

{# @see https://django-crispy-forms.readthedocs.io/ #}
{% load crispy_forms_tags %}

{% block navbar_breadcrumbs %}
    <li>Account</li>
    <li class="active">Login</li>
{% endblock %}

{% block page_body %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form role="form" method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}" />
  {{ form|crispy }}
  <button type="submit" class="btn btn-primary">Login</button>
</form>

{% endblock page_body %}
