{# ex: set ft=htmldjango : #}
<!--
  @module XXX
  @changed 2024.03.12, 21:35
-->

{% extends "base-regular.html.django" %}
{% load crispy_forms_tags %}
{% block title %}Login — {{ block.super }}{% endblock title %}

{% block content %}

<fieldset>
  <legend>
    <h1 class="page-title primary-color">Login</h1>
  </legend>
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</fieldset>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% include "assets/render-messages/render-messages.django" %}

<form role="form" method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {{ form|crispy }}

  <div class="common-actions">
    <input class="btn btn-primary" type="submit" value="Login" />
    <a class="btn btn-link btn-outline-primary" href="{% url 'django_registration_register' %}">Sign up</a>
    <a class="btn btn-link btn-outline-primary" href="{% url 'password_reset' %}">Reset password</a>
    {% include "assets/back-button/back-button.django" %}
  </div>

  <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock content %}
