{# ex: set ft=htmldjango : #}
<!--
  @module signup.html.django
  @changed 2024.03.11, 01:26
-->

{% extends "base-regular.html.django" %}
{% load crispy_forms_tags %}

{% block title %}Password change — {{ block.super }}{% endblock title %}

{% block content %}

<fieldset>
  <legend>
    <h1 class="page-title primary-color">Password change</h1>
  </legend>
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</fieldset>

{% include "assets/render-messages/render-messages.django" %}

<form method="post">
  {% csrf_token %}

  {{ form|crispy }}

  <div class="common-actions">
    <input class="btn btn-primary" type="submit" value="Change password" />
     <a class="btn btn-default" href="{% url 'index' %}" onClick="history.back(); return false">Back</a>
    <a class="btn btn-link" href="{% url 'profile_edit' %}">Edit profile</a>
  </div>

<input type="hidden" name="next" value="{{ next }}" />

</form>
{% endblock content %}
