{# ex: set ft=htmldjango : #}
<!--
  @module password_reset_confirm
  @changed 2024.03.12, 21:35
-->

{% extends "base-regular.html.django" %}
{% load crispy_forms_tags %}

{% block title %}Password reset confirmation — {{ block.super }}{% endblock title %}


{% block content %}

<fieldset>
  <legend>
    <h1 class="page-title primary-color">Password reset confirmation</h1>
  </legend>
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</fieldset>

{% if validlink %}

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">{% csrf_token %}
  <fieldset class="module aligned">
    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <div class="form-row field-password1">
      {{ form.new_password1.errors }}
      <div class="flex-container">
        <label for="id_new_password1">New password:</label>
        {{ form.new_password1|as_crispy_field }}
      </div>
    </div>
    <div class="form-row field-password2">
      {{ form.new_password2.errors }}
      <div class="flex-container">
        <label for="id_new_password2">Confirm password:</label>
        {{ form.new_password2|as_crispy_field }}
      </div>
    </div>
  </fieldset>
  <div class="submit-row">
    <input class="btn btn-primary" type="submit" value="Change my password">
  </div>
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

{% endblock %}
