{# ex: set ft=htmldjango : #}
<!--
  @module signup.html.django
  @changed 2024.03.12, 23:12
-->

{% extends "base-regular.html.django" %}
{% load crispy_forms_tags %}

{% block title %}Password has already changed — {{ block.super }}{% endblock %}

{% block content %}

<fieldset>
  <legend>
    <h1 class="page-title primary-color">Password has already changed</h1>
  </legend>
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</fieldset>

<p>Your password was changed. Go to <a href="{% url 'index' %}">main page</a> or to your <a href="{% url 'profile' %}">profile</a>.</p>

{% endblock content %}
